/* chat.html */

.chat-title {
    color: green;
    font-weight: 700;
    text-align: center;
    margin: 10px 10px;
    text-shadow: 1px 1px 2px grey;
}

.chat-section {
    display: flex;
}

.select-room {
    font-size: large;
    font-weight: 700;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    list-style: none;
}

.state-connection {
    font-size: x-small;
    font-weight: 300;
    font-style: italic;
    color: red;
    /* border: 1px solid black; */
    margin-top: 5px;
}

#chat-contener {
    /* scroll-behavior: smooth; */
    overflow-y: scroll;
    border: 2px solid red;
    flex-grow: 2;
    padding: 10px 10px;
    /* display: inline; */
}

#send_message {
    background-color: rgb(253, 217, 10);
    padding-right: 15px;
    padding-left: 15px;
}

#chat-rooms {
    border: 2px solid black;
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px 10px;
    /* display: inline-block; */
}


/* créé par socket.js */

.span_sender {
    font-weight: 400;
    color: tomato;
}

.span_timestamp {
    font-style: italic;
    font-size: x-small;
    color: black;
}

.msg_p {
    background-color: rgb(53, 71, 230);
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    width: fit-content;
    padding: 3px;
    font-family: 'Arial';
    max-width: 40%;
    word-wrap: break-word;
}

.current {
    background-color: rgb(176, 221, 247);
    border: 2px solid black;
    border-radius: 10px;
    width: fit-content;
    padding: 3px;
    font-family: 'Arial';
    max-width: 40%;
    word-wrap: break-word;
    margin-left: 10%;
}