{% extends 'base.html' %} {% block title %}Accueil{% endblock %} {% block content %} {% include 'nav.html' %}


<h1> Tableau de bord</h1> <br>
<span class="accueil-pop"> Ma popularité : {{pop}} </span>
<span class="accueil-like"><i class="fas fa-heart"></i>{{ like }} </span>
<br>
<br>
<h3>Qui a consulté mon profil ?</h3>

<div class="container">
    {% for visitor in visitors %}


    <div class="accueil-cards card">
        <div class="card-header"> <img src="{{ visitor.photo }}" height="100" alt=""></div>
        <div class="card-body">
            <h3>{{ visitor.pseudo }}</h3>
            <p>Age : {{ visitor.age }}</p>
            <p>Popularité : {{ visitor.popul }}</p>
            <p>A visité le : {{ visitor.date }}</p>
        </div>

    </div>
    {% endfor %}

</div>
<br><br>
<hr>
<h3>Mes dernières visites</h3>
<div class="container">
    {% for visited in visited_infos %}
    <div class="accueil-cards card">
        <div class="card-header"> <img src="{{ visited.photo }}" height="100" alt=""></div>
        <div class="card-body">
            <h3>{{ visited.pseudo }}</h3>
            <p>Age : {{ visited.age }} ans</p>
            <p>Popularité : {{ visited.popul }}</p>
            <p>Dernière visite : {{ visited.date }}</p>
        </div>

    </div>
    {% endfor %}
</div>


<br><br>
<div>
    <script>
        sessionStorage.setItem("current_user", "{{session['user']['name']}}");
    </script>
    {% if matching==False %}
    <p class="alert">Completez votre profil pour avoir accès à des propositions de rencontres !</p>
    {% else %} {% include 'matching.html' %} {% endif %}
</div>

{% endblock %}