{% extends 'base.html' %} {% block title %}Messagerie{% endblock %} {% block content %} {% include 'nav.html' %}

<div>
    <script>
        sessionStorage.setItem("current_user", "{{session['user']['name']}}");
    </script>
    <h2 class="chat-title">Matchat ma messagerie</h2>
    <!-- Room selection -->
    <div class="chat-section">
        <nav id="chat-rooms">
            <h4>Discussions</h4>
            <ul>
                {% for room in rooms %} {% if room.slave_id == user_id %}
                <li class="select-room" value="{{ room.room_id }}">{{ room.master_id.user_name }}</p>
                    {% endif %} {% endfor %}
            </ul>
        </nav>
        <hr>
        <!-- Chat -->
        <div class="receiver">

        </div>
        <!-- Message area -->
        <div id="rigthside-pannel">
            <!-- Display message -->
            <div id="display-message-section">

            </div>
            <!-- Input message -->
            <div id="input-area" class="{{ user_id }}">
                <input type="text" id="user_message" placeholder="Enter your message here">
                <button id="send_message">
					<i class="fas fa-paper-plane fa-sm"></i>
				</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}