{% extends 'base.html' %} {% block title %}Consultation{% endblock %} {% block content %} {% include 'nav.html' %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/consultation.css') }}">

<h1>Profil de {{profil.user_name}}</h1><br>
<form method="post">

    <table>
        <thead>

            <tr>
                <th>J'aime</th>
                <th>Bloquer</th>
                <th>Faux compte</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{% if nb_photo>0 %}<input type="checkbox" name="like" {% if visit.islike==True %}checked="checked" {% endif %}>{% endif %}</td>
                <td><input type="checkbox" name="block" {% if visit.isblocked==True %}checked="checked" {% endif %}></td>
                <td><input type="checkbox" name="fake" {% if fake==True %}checked="checked" {% endif %}></td>
                <td><button type="submit" class="btn btn-primary btn-lg mb-2" name='save'>Enregistrer</button></td>
            </tr>

            {% if liked==True %}
            <tr>
                <td colspan="4"><strong> M'a liké !!!</strong></td>
            </tr>{% endif %}
        </tbody>
</form>
</table><br>

<div id='conteneur'>
    <div id='photo'>
        {% set count = namespace(value=1) %} {% for photo in photos %}
        <img src={{photo}} alt="" {% if count.value==1 %} width="200" {% else %} width="100" {% endif %} onclick="affiche(this)"><br><br> {% set count.value = count.value + 1 %} {% endfor %}
    </div>

    <div id="myModal" class="modal">
        <span class="close" onclick="ferme()">X</span>
        <img class="modal-content" id="img">
    </div>

    <div id='texte'>

        <h2>{{profil.first_name}} {{profil.last_name}}</h2>
        <h2> Popularité : {{profil.popularity}}</h2>
        <h3>Dernière connection le : {{last_connection}}</h3>
        <h3>Je suis {%if profil.gender=='Male' %}un homme{% else %}{%if profil.gender=='Female' %}une femme {% endif %}{% endif %} {% if profil.orientation==None %}Bi {% else %} {{profil.orientation}} {% endif %}<br> Naissance {{naissance}} <br><br> Ma présentation
            :
        </h3><br> {{profil.description}}
        <br><br>
        <h3>Mes centre d'interets :</h3><br>

        <h3>
            {% for tag in tags %}
            <span class="badge rounded-pill bg-primary">{{tag}}</span> {% endfor %}
        </h3>

    </div>
    <div id='carte'>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
        <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
        <h3>Vous me trouverez ici :</h3><br>
        <div id="macarte" style="width:400px; height:500px"></div>



        <script>
            var carte = L.map('macarte').setView([{
                {
                    profil.latitude
                }
            }, {
                {
                    profil.longitude
                }
            }], 12);
            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(carte);
            var marker = L.marker([{
                {
                    profil.latitude
                }
            }, {
                {
                    profil.longitude
                }
            }]).addTo(carte);

            function affiche(a) {
                var modal = document.getElementById("myModal");
                var modalImg = document.getElementById("img");
                modal.style.display = "block";
                modalImg.src = a.src;
            }

            function ferme(a) {
                var modal = document.getElementById("myModal");
                modal.style.display = "none";
            }
        </script>
    </div>
</div>
{% endblock %}