{% extends 'base.html' %} {% block title %}Dislike{% endblock %} {% block content %} {% include 'nav.html' %}

<h1 id="h1-dislike">Mes dislikes</h1>
<div id="dislike-container" class="container">

    {% if liste %} {% for l in liste %}
    <a href="{{ url_for('consultation', login=l.username)}}" class="lien">
        <div class="accueil-cards card">
            <div class="card-header"> <img src="{{ l.photo }}" height="80" alt=""></div>
            <div class="card-body">
                <h3>{{ l.username }}</h3>
                <p>Dislike le : {{ l.date }}</p>
            </div>
        </div>
        {% endfor %} {% endif %}
</div>
{% endblock %}