<nav class="navbar navbar-expand-md bg-light">
    <!-- Refresh page -->
    <script src="{{ url_for('static', filename='scripts/refresh_page.js')}}"></script>

    <ul class="navbar-nav">

        <li class="nav-item">
            <a class="nav-link"> {{session['user']['name']}}</a>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('accueil')}}" class="nav-link">Accueil</a>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('photo')}}" class="nav-link">Mes photos</a>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('profil')}}" class="nav-link">Mon profil</a>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('recherche')}}" class="nav-link">Recherche</a>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('chat')}}" class="nav-link">Messages
            <span id="nb_messages" class="badge badge-pill badge-warning count-notif"></span></a>
        </li>
        <li class="nav-item dropdown">
            <a id="like-deroulant" href="" class="nav-link dropdown-toggle" role="link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Likes  
            <span id="nb_likes" class="badge badge-pill badge-warning count-notif"></span></a>
            <div id="like-menu" class="dropdown-menu">
                <!-- <a class="dropdown-item" href="#">Lien</a>
                <button class="dropdown-item" type="button">Bouton</button>
                <span class="dropdown-item-text">Texte</span> -->
            </div>
        </li>
        <li class="nav-item dropdown">
            <a id="visit-deroulant" href="" class="nav-link dropdown-toggle" role="link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Visites
                    <span id="nb_visites" class="badge badge-pill badge-warning count-notif"></span></a>
            <div id="visit-menu" class="dropdown-menu">

        </li>
        <li class="nav-item">
            <a href="{{ url_for('logout')}}" class="nav-link">Deconnexion</a>
        </li>

    </ul>
    <!-- <script src="connect_users.js">
        sessionStorage.setItem("current_user", "{{session['user']['name']}}");
    </script> -->
</nav>