<!DOCTYPE html>
<html>
    <head></head>
    <body>
        {% extends 'base.html' %}
        {% block title %}Inscription{% endblock %}
        {% block content %}
        <br><br>
        <h1>Je m'inscris</h1>
        <br><br><br><br>
        <div id="center">
            <form method="post">
                <p>Login<br><input type="text" name="login" value="{{login}}" required=""></p>
                <p>Mot de passe<br><input type="password" name="password" required=""></p>
                <p>Confirmation mot de passe<br><input type="password" name="password2" required=""></p>
                <h4>{{message}}</h4>
                <p>Nom<br><input type="text" name="name" value="{{name}}" required=""></p>
                <p>Prénom<br><input type="text" name="first_name" value="{{first_name}}" required=""></p>
                <p>E-Mail valide, <br> votre compte ne sera créé qu'apres confirmation <br> du lien qui vous sera envoyé<br>
                    <input type="email" name="courriel" value="{{courriel}}" required="" oninvalid="this.setCustomValidity('Please Enter valid email')" oninput="setCustomValidity('')">
                </p>
                <button type="submit" class="btn btn-primary btn-lg mb-2">Inscription</button>
            </form>
            <a href="{{ url_for('homepage')}}">
            <button type="button" class="btn btn-primary btn-lg mb-2" id="envoyer">Retour</button></a>
        </div>
        {% endblock %}
    </body>
</html>
