{% extends 'base.html' %} {% block title %}Messagerie{% endblock %} {% block content %} {% include 'nav.html' %}
<!-- Custom SocketIO JS -->
<script src="{{ url_for('static', filename='scripts/socketio.js')}}"></script>

<!-- Custom Chat JS -->
<script src="{{ url_for('static', filename='scripts/chat_page.js')}}"></script>

<!-- Chat styles -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/chat_styles.css') }}">

<div>
    <script>
        sessionStorage.setItem("current_user", "{{session['user']['name']}}");
    </script>
    <h2 class="chat-title">Matchat ma messagerie</h2>
    <!-- Room selection -->
    <div class="chat-section">
        <nav id="chat-rooms">
            <h4>Discussions</h4>
            <ul>

                {% for room in rooms %}
                <li class="select-room" value="{{ room.room_id.id }}">
                    <span>{{ room.master_id.user_name }}</span>
                    <span id="chat-room-receiver-{{ room.master_id.id }}" class="badge badge-pill badge-warning count-notif"></span>
                    <p class="state-connection">Déconnecté</p>
                </li>
                {% endfor %}
            </ul>
        </nav>
        <hr>
        <!-- Chat -->
        <div id="chat-contener">
            <div id="chat-message-area">
                <h3 id="chat-receiver-name">
                    Pas de discussion
                </h3>
            </div>
            <!-- Message area -->
            <div id="rigthside-pannel">
                <!-- Display message -->
                <div id="display-message-section">

                </div>
                <!-- Input message -->
                <div id="input-area" class="{{ user_id }}">
                    <input type="text" id="user_message" placeholder="Enter your message here">
                    <button id="send_message">
					<i class="fas fa-paper-plane fa-sm"></i>
				</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
