{% extends 'base.html' %}

{% block title %}Mon profil{% endblock %}
{% block content %}
{% include 'nav.html' %}
<style>
   p{
       font-size: 1rem;
       text-align: justify;
   }
</style>
<br><br><h1>Mon profil </h1>

<div class='container-fluid'>
    <div class="row">
        <div class="col-2">
       <img src={{ph1}} alt="" width=200px> 
    </div>
    <div class="col-7">
        <div class="row">
        <div class="col">
        <h5>
            <table>
            <tr>
            <td> Prénom:</t>
            <td>{{profil.first_name}}</td></tr>
            <tr>
            <td> Nom :</td>
            <td>{{profil.last_name}}</td></tr>
           
            <tr>
            <td> Sexe :</td>
            <td>{%if profil.gender=='Male' %}Masculin{% else %} {%if profil.gender=='Female' %}Féminin{% endif %}{% endif %}</td></tr>
            <tr>
            <td> Orientation sexuelle :</td>
            <td>{{profil.orientation}}</td></tr>
            </table></div>
            <div class="col">
            <table>
            <td> Email :</td>
            <td>{{profil.email}}</td></tr>
            <tr>
            <td>Naissance : </td>
            <td>{{naissance}}</td></tr>
            <tr>
            <td> Latitude :</td>
            <td>{{profil.latitude}}</td></tr>
            <tr>
            <td> Longitude :</td>
            <td>{{profil.longitude}}</td></tr>
            </table></div>
            </h5>
        </div> 
           <h5>Présentation : </h5>
            <p>{{profil.description}}</p>
            <h5>
           
                           
    </div>
     <div class="col-3">
        <h2>Mes centres d'intérêts :</h2><br><br>
       <h3>
                {% for tag in tags %}
                <span class="badge rounded-pill bg-primary">{{tag}}</span> 
                {% endfor %}
        </h3>    
        
    </div>
    </div>
</div>


</h5>
<br>
<h1>
    <a href="{{ url_for('profilmodif')}}">
        <button type="button" class="btn btn-primary btn-lg mb-2">Modifier mes informations</button></a>
    <a href="{{ url_for('forgot')}}">
        <button type="button" class="btn btn-primary btn-lg mb-2">Modifier mon mot de passe</button></a>
    <br><br>
</h1>
<br><br>


{% endblock %}