{% extends 'base.html' %}

{% block title %}Mon profil{% endblock %}
{% block content %}
{% include 'nav.html' %}
<style>
    #conteneur {
        display: flex;
    }

    #colonne {
        flex: 3;
        padding: 20px;
    }
    #profil
    {
        flex: 1;
    }
   
</style>

<br><br><h1>Mon profil </h1>

<h5><div id='conteneur'>
    <div id='profil'>
       <img src={{ph1}} alt="" width=100%> 
    </div>
    <div id='colonne'>
            <table>
                <colgroup>
                    <col style="color: #9fe8e9">
                  </colgroup>
            <tr>
            <td> Prénom:</t>
            <td>{{profil.first_name}}</td></tr>
            <tr>
            <td> Nom :</td>
            <td>{{profil.last_name}}</td></tr>
            <tr>
            <td>Naissance : </td>
            <td>{{naissance}}</td></tr>
            <tr>
            <td> Sexe :</td>
            <td>{{profil.gender}}</td></tr>
            <tr>
            <td> Orientation sexuelle :</td>
            <td>{{profil.orientation}}</td></tr>
            <tr>
            <td> Présentation :</td>
            <td>{{profil.description}}</td></tr>
            <tr>
            <td> Email :</td>
            <td>{{profil.email}}</td></tr>
            <tr>
            <td> Latitude :</td>
            <td>{{profil.latitude}}</td></tr>
            <tr>
            <td> Longitude :</td>
            <td>{{profil.longitude}}</td></tr>
            </table>
                           
    </div>
    <div id='colonne'>
        Mes centres d'intérêts :<br><br>
       
            <ul>
                {% for tag in tags %}
                <li> {{tag}}</li>
                {% endfor %}
            </ul>
        
    </div>
</div>


</h5>
<br>
<h1>
    <a href="{{ url_for('profilmodif')}}">
        <button type="button" class="btn btn-primary btn-lg mb-2">Modifier mes informations</button></a>
    <a href="{{ url_for('forgot')}}">
        <button type="button" class="btn btn-primary btn-lg mb-2">Modifier mon mot de passe</button></a>
    <br><br>
</h1>
<br><br>


{% endblock %}