{% extends 'base.html' %}

{% block title %}Résultats{% endblock %}
{% block content %}
{% include 'nav.html' %}
<style>
    .lien{
        color: greenyellow;
    }
    th{
        cursor: pointer;}
        th:hover{
    background: lightblue;
}

    td{padding-right: 25px;}
</style>
<h2>Candidats repondant à vos critères</h2>
<br>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
<table>
    <thead>
    <tr><th width=120>Pseudo</th><th width=80>age</th><th>distance (en km)</th><th>Popularité</th><th>Tags correspondants</th></tr>
    </thead>
    <tbody>
{% for candidat in candidats %}

<tr><td><a class="lien" href="{{ url_for('consultation', login=candidat.nom)}}">{{candidat.nom}} </a></td><td align="center">{{candidat.age}}</td> <td align="right">{{candidat.distance}}</td><td align="right">{{candidat.popularity}}</td>
<td>{% for tag in candidat.tags %} {{tag}}, {% endfor %} </td></tr>

{% endfor %}
</tbody>

</table><br>
<a href="{{ url_for('recherche')}}">
    <button type="button" class="btn btn-primary btn-lg mb-2" >retour</button></a>
    <script>
  const compare = (ids, asc) => (row1, row2) => {
  const tdValue = (row, ids) => row.children[ids].textContent;
  const tri = (v1, v2) => v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2);
  return tri(tdValue(asc ? row1 : row2, ids), tdValue(asc ? row2 : row1, ids));
};

const tbody = document.querySelector('tbody');
const thx = document.querySelectorAll('th');
const trxb = tbody.querySelectorAll('tr');
thx.forEach(th => th.addEventListener('click', () => {
  let classe = Array.from(trxb).sort(compare(Array.from(thx).indexOf(th), this.asc = !this.asc));
  classe.forEach(tr => tbody.appendChild(tr));
}));
    </script>
    
{% endblock %}