<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1000, initial-scale=1.0">
    <title>test</title>
    <style>
        #container
        {
    display: flex;
    justify-content: center;
    }
#col
{
    flex-grow: 1;
    padding: 50px;
    border: 3px;
}
    </style>
</head>
<body>
    <div id='container'>
        <div id ='col'>
            <div>
            <tr> toto</tr>
            <td>125</td><br>
            <tr> toto</tr>
            <td>125</td></div>
        </div>
        <div id='col'>
            tata
        </div>
    </div>
    {{interets}}
</body>
</html>

