{% extends 'base.html' %} {% block title %}Accueil{% endblock %} {% block content %} {% include 'nav.html' %}
<style>
    table {
        border: medium solid #0b3688;
        border-collapse: collapse;
        /* width: 50%; */
    }
    
    td,
    th {
        border: thin solid #6495ed;
        /* width: 50%; */
        padding: 5px;
    }
    
    th {
        text-align: center;
        cursor: pointer;
    }
    
    th:hover {
        background: lightblue;
    }
    
    .lien {
        color: greenyellow;
    }
    
    .alert {
        color: orangered;
        font-weight: bold;
    }
</style>

<br>

<h1> Mes visiteurs<br>  </h1> <br>
<h3> Ma popularité : {{pop}} </h3><br>
<br>
{%if visitors %}
<h3>Qui a consulté mon profil ?</h3>
<table>
    <thead>
        <tr>
            <th>Photo</th>
            <th>Pseudo</th>
            <th>Sexe</th>
            <th>Age</th>
            <th>Popularité</th>
            <th>distance</th>
            <th>Date</th>
            <th>A liké</th>
        </tr>
    </thead>

    <tbody>

        {% for visitor in visitors %}
        <tr class="visiteur_ligne">
            <td><img src={{visitor.photo}} alt="" height="80"></td>
            <td><a href="{{ url_for('consultation', login=visitor.pseudo)}}" class="lien">{{visitor.pseudo}}</a></td>
            <td align="center">{% if visitor.sex=='Male' %}M{% else %}F{% endif %}</td>
            <td align="right">{{visitor.age}}</td>
            <td align="center">{{visitor.popul}}</td>
            <td align="right">{{visitor.distance}}</td>
            <td>{{visitor.date}}</td>
            <td align="center">{% if visitor.like==True %}oui{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<br><br>
<div>
    <script>
        sessionStorage.setItem("current_user", "{{session['user']['name']}}");
    </script>
   
</div>
<script>
    const compare = (ids, asc) => (row1, row2) => {
        const tdValue = (row, ids) => row.children[ids].textContent;
        const tri = (v1, v2) => v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2);
        return tri(tdValue(asc ? row1 : row2, ids), tdValue(asc ? row2 : row1, ids));
    };

    const tbody = document.querySelector('tbody');
    const thx = document.querySelectorAll('th');
    const trxb = tbody.querySelectorAll('tr');
    thx.forEach(th => th.addEventListener('click', () => {
        let classe = Array.from(trxb).sort(compare(Array.from(thx).indexOf(th), this.asc = !this.asc));
        classe.forEach(tr => tbody.appendChild(tr));
    }));
</script>
{% endblock %}
