{% extends 'base.html' %}

{% block title %}Ma recherche{% endblock %}
{% block content %}
{% include 'nav.html' %}
<br><br>
<h1>Je recherche... </h1>
<br><br>
<form method="post" >
    <p>Age compris entre <input type="text" name="agemin" /> et  <input type="text" name="agemax" /></p>
    <p>Poularite   entre <input type="text" name="popmin" /> et  <input type="text" name="popmax" /></p>
<br>
<button type="submit" class="btn btn-primary btn-lg mb-2" >Chercher</button>
</form>
<br>

{% endblock %}