#rigthside-pannel {
    /* scroll-behavior: smooth; */
    overflow-y: scroll;
    border: 2px solid red;
}

.like-section {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

#send_like {
    padding-right: 15px;
    padding-left: 15px;
    color: red;
}

.chat_p {
    background-color: rgb(53, 71, 230);
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    width: fit-content;
    padding: 3px;
    font-family: 'Arial';
    max-width: 40%;
    word-wrap: break-word;
}

.current {
    background-color: rgb(176, 221, 247);
    border: 2px solid black;
    border-radius: 10px;
    width: fit-content;
    padding: 3px;
    font-family: 'Arial';
    max-width: 40%;
    word-wrap: break-word;
    margin-left: 10%;
}

.span_username {
    font-weight: 400;
    color: tomato;
}

.span_timestamp {
    font-style: italic;
    font-size: x-small;
    color: black;
}

#send_message {
    background-color: rgb(253, 217, 10);
    padding-right: 15px;
    padding-left: 15px;
}